
body{
	background-color:#fcfcfc;
	margin:0;
	padding:0;
}

.flipbook-viewport{

	width:1000px;
	height:700px;
	/*position: center;*/
}

.flipbook-viewport .container1{
	position:absolute;
}

.flipbook-viewport .flipbook{
	width:900px;
	height:570px;
	left:15%;
	/*top:40%;*/
   /*background-color: black;*/
}

.flipbook-viewport .page{
	width:500px;
	height:200px;
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.flipbook-viewport .double{
	width:500px;
	height:800px;
	background-size:100% 100%;
}

.flipbook-viewport .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 30px #ccc;
	-moz-box-shadow:0 0 30px #ccc;
	-o-box-shadow:0 0 30px #ccc;
	-ms-box-shadow:0 0 30px #ccc;
	box-shadow:0 0 30px #ffffb3;
}
